#build dirs
build*/
*.pro.user
*.pro.user.*

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
C++/Ohjelmointi komponenttikirjastoilla/STL set ja multiset/Usein_yhdessa_ostetut_tuotteet/.qtc_clangd/.cache/clangd/index/main.cpp.623C13A4FAC4AE78.idx
*.stash
C++/Ohjelmointi komponenttikirjastoilla/STL set ja multiset/Usein_yhdessa_ostetut_tuotteet/.qtc_clangd/compile_commands.json
C++/Ohjelmointi komponenttikirjastoilla/STL set ja multiset/Usein_yhdessa_ostetut_tuotteet/.qmake.stash
Unity_Version_Control_Tutorial/
